---
---

@import "{{ site.theme }}";

@media (min-width: 1170px){
  .wrapper {
  width:75%;
  margin:0 auto;
  background:#DEDEDE;
  border-radius: 8px;
  box-shadow: rgba(#000, 0.2) 0 0 0 1px, rgba(#000, 0.45) 0 3px 10px;
  }
}
